
/* -------------------------------------------- */
*
{
  box-sizing: border-box;
}

html, body
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Gotham Pro';
  font-style: normal;
  color: white;
  height: 1080px;
}

p, span
{
  font-size: 18px;
}

h4
{
  font-size: 32px;
}

summary::-webkit-details-marker {
    display: none
}

/* -------------------------------------------- */

header
{
  width: 100%;
  height: 10.8%;
  background-color: #000000;
}

.limitation
{
  width: 98%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

#logo
{
  width: 4%;
  height: 42%;
  margin: auto 0 auto 20px;
  background-size: contain;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
}

#fileForm
{
  display: flex;
}

.spaceBetween
{
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  flex-flow: row wrap;
}

.center
{
  display: flex;
  justify-content: center;
}

#fileForm span
{
  font-size: 32px;
  font-weight: 900;
  line-height: 23px;
}

#fileForm label.buttonStyle span
{
  cursor: pointer;
}

label.buttonStyle input, label.buttonStyle button
{
  display: none;
  pointer-events: none;
  user-select: none;
}

span.spacer
{
  margin: 0 15px;
}

/* -------------------------------------------- */

main
{
  width: 100%;
  height: 76%;
  display: flex;
}

#textureArea
{
  width: 72.8%;
  height: 100%;
  padding: 10px 14px 10px 0px;
  display: flex;
  justify-content: space-between;
  background: rgb(32, 32, 32);
  color: black;
}

.canvasArea
{
  width: 49.6%;
  height: 100%;
  background: #C4C4C4;
  margin: auto 0;
  padding: 10px 20px;
}

.canvasArea span
{
  background: rgb(157, 157, 157);
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 4px 21px;
}

.canvasArea canvas
{
  display: block;
  margin: 10% auto 0 auto;
}

/* -------------------------------------------- */

aside
{
  width: 27.2%;
  height: 100%;
  background: #343434;
  padding: 25px 20px;
}

.verticalBox
{
  display: flex;
  flex-flow: column;
}

.controlButton
{
  text-align: right;
  padding: 7px 12px;
  cursor: pointer;
}

.controlButton summary:focus, .controlButton:focus
{
  outline: 0;
}

.controlButton summary, button.controlButton p
{
  font-weight: bold;
  font-family: "GothamPro";
  font-size: 32px;
  line-height: 30px;
  color: white;
}

.controlButton summary
{
  border-bottom: 3px solid black;
  padding: 7px 35px;
  background-repeat: no-repeat;
  background-position: 98% 75%;
  background-image: url("../images/markerClose.png");
}
.controlButton[open] summary
{
  background-position: right 80%;
  background-image: url("../images/markerOpen.png");
}

.controlButton div, .controlButton canvas
{
  margin: 10px 0px;
}

.controlButton .center input.color
{
  width: 5%;
  color: transparent !important;
  margin: 0px 5px;
}

.canvasCoords
{
  display: inline-block;
  margin-top: 30px;
}

/* -------------------------------------------- */

#rangeLine{
    -webkit-appearance: none;
    border-radius:2px;
    width: 35%;
    height:10px;
    outline : none;
    border:1px solid #D4D4D4;
    margin: auto 0;
}

#rangeLine::-webkit-slider-thumb:hover, .range::-webkit-slider-thumb:active{
    width:24px;
    height:24px;
}


/* -------------------------------------------- */

button.controlButton
{
   border: 0;
   background-color: rgba(0,0,0,0);
}
button.controlButton p
{
  padding: 7px 12px;
  border-bottom: 3px solid black;
  margin: 0;
}

/* -------------------------------------------- */

footer
{
  width: 100%;
  height: 171px;
  background: #151515;
}

#photoList
{
  width: 100%;
  height: 80%;
  margin: auto;
  background: #343434;
}

.wrp {
    width:700px;
    margin:0 auto;
    margin-top:20px;
    height:70%;
}
